{# templates/backoffice/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <h1>Booking</h1>
    <p>Welcome to the booking page.</p>
{% endblock %}
