{# templates/login/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Login</h1>
            <form action="{{ path('app_login') }}" method="post" class="needs-validation" novalidate>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" id="email" name="_username" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
