{# templates/backoffice/index.html.twig #}
{% extends 'backoffice/backoffice.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block body %}
    <h1>Schedule</h1>
    <p>Welcome to the schedule page.</p>
{% endblock %}
