{# templates/backoffice/price_list.html.twig #}
{% extends 'backoffice/backoffice.html.twig' %}

{% block title %}Price List{% endblock %}

{% block body %}
    <h1>Price List</h1>
    <p>Manage your price list here.</p>
{% endblock %}
