{% extends 'base.html.twig' %}

{% block title %}Pricing{% endblock %}

{% block body %}
    <h1>Pricing</h1>
    <p>Here you can find the rates for our services.</p>
    {# Add a table or list here for pricing details #}
{% endblock %}
