/* public/css/backoffice.css */
body {
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 200px;
    float: left;
    background-color: #f8f9fa;
    padding: 15px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #007bff;
}

#main-content {
    margin-left: 220px;
    padding: 15px;
}

/* Stilizovanje legende */
.legend {
    margin-bottom: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 0.5rem;
}

/* Smanjenje veličine i razmaka za mobilne uređaje */
@media (max-width: 768px) {
    .legend-item {
        font-size: 0.8rem;
    }

    .color-box {
        width: 15px;
        height: 15px;
    }
}

