{# templates/backoffice/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
    <h1>About us</h1>
    <p>Welcome to the About us page.</p>
{% endblock %}
